$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path : '../node_modules/font-awesome/fonts';

$primary: #719B53;
$success: #CB5D54;
$danger: #B72C1F;
$light: #F3F8EF;
$dark: #2D1614;
