<app-fejlec>
  <h1 class="display-4 text-dark">Holló és az informatika</h1>
  <p class="text-light pb-4">Ez a honlap azért jött létre, hogy a diákjaimnak készített tananyagokat, videókat rendszerezze és mások számára is hozzáférhetővé tegye.
    Az oldalon informatika közép és emelt szintű érettségire, ECDL vizsgára felkészüléshez találsz elsősorban információkat. Ezeken kívül megtalálhatod
   egyik-másik szakdolgozatom és más oktatással összefüggő tevékenységeim nyomait is.
  </p>
</app-fejlec>
